@import "./mixins";

////////////////////////////
// header text box
///////////////////////////
.text-box {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 100rem;

  @include responsive(tabport) {
    width: 100vw;
    padding: 1rem;
  }

  @include responsive(threephone) {
    top: 75%;
  }
  @include responsive(samllerphone) {
    top: 65%;
  }
}

// header primary-heading
.heading__primary {
  // font-size: 4.1rem;
  font-weight: bold;
  margin-bottom: 1.5rem;

  font: normal normal bold 4.1rem Open Sans;

  @include responsive(smallphone) {
    font-size: 3rem;
  }
}
.mes {
  padding: 1rem;
  margin: 1rem;
}
// header paragraph
.paragraph {
  opacity: 0.8;
  font: normal normal normal 2.8rem Open Sans;

  @include responsive(smallphone) {
    font-size: 2rem;
  }
}

// low opacity background for popup boxes
.background-box {
  position: fixed;
  z-index: 99999;
  background-color: #000;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);

  animation: glow 0.7s;
}

@keyframes glow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

////////////////////////////
// form signup box step1
///////////////////////////

.signin-box {
  height: 40rem;
}

.all-box {
  width: 70rem;
  border-radius: 1.5rem;
  position: absolute;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 3px 6px #00000029;
  padding: 8rem;
}

.note-box {
  height: 45rem;
}

.signup-box {
  height: 60rem;
}

// sign up form
.form {
  &__signup {
    width: 65%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.2rem;
  }

  &__input {
    padding: 1.5rem;
    border-radius: 0.6rem;
    border: none;
    opacity: 0.57;
    border: 1px solid #707070;
    width: 100%;
  }
}

// custom input for differnt widths in form
.custom__input {
  grid-column: 1/-1;
}

.heading {
  &__secondary {
    font-size: 3.3rem;
    margin-bottom: 1.3rem;
    font-weight: 500;
  }

  &__sub {
    font-size: 2.2rem;
    margin-bottom: 5rem;
  }
}

// exit button for popups
.cross {
  position: absolute;
  top: 2.3rem;
  right: 2.5rem;
  font-size: 2.2rem;
  cursor: pointer;

  @include responsive(tabport) {
    right: 19rem;
  }
}

.btn-submit {
  font-size: 2rem;
  padding: 1rem;
  border: none;
  border-radius: 6px;
  margin: 2rem 0;
  cursor: pointer;
  //   font: normal normal 600 2.2rem Segoe UI;
  background-color: #2ecc71;
  color: #fff;

  &:focus {
    outline: none;
  }
}

// my notes

.images__container {
  width: 80%;
  margin: 3rem auto;
  height: 100%;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.img {
  &__container {
    border: 5px solid #fff;
    border-radius: 5px;
    box-shadow: 0 3px 12px rgba(75, 73, 73, 0.26);
    cursor: pointer;
    background-color: #fff;
    margin-bottom: 2rem;

    & img {
      width: 100%;
      border-radius: 3px;
    }
  }
}

@media screen and (min-width: 768px) {
  .images__container {
    gap: 2rem;
    column-width: 20vw;
  }

  .img__container {
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    margin-bottom: 2rem;
  }
}
